<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	
<title>Rooms</title>

</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
				<a class="navbar-brand" href="#" th:href="@{/rooms}">Rooms</a>
				<a class="navbar-brand" href="#" th:href="@{/newRoom}">New Room</a>
				<a class="navbar-brand" href="#" th:href="@{/items}">Items</a>
				<a class="navbar-brand" href="#" th:href="@{/newItem}">New Item</a>
				<a class="navbar-brand" href="#" th:href="@{/dashboard}">Dashboard</a>
				<a class="navbar-brand" href="#" th:href="@{/settings}">Settings</a>
				<a class="navbar-brand" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<h1> Item Details: </h1>
	<p>
			Item of <span sec:authentication="principal.username">User</span>
	</p>
	<p>
		<div>
	        <h3 class="mb-3">Name : <span th:text="${name}"></span></h3>
			<h3 class="mb-3">Details : <span th:text="${details}"></span></h3>
			<h3 class="mb-3">Price : <span th:text="${price}"></span></h3>
			<h3 class="mb-3">Link : <span th:text="${link}"></span></h3>
			<h3 class="mb-3">Image : <span></span><img class="img-thumbnail" th:src="'data:image/png,image/jpeg;base64,'+${image}" alt="" height="150" width="150"></h3>
<!--			<img class='img-thumbnail' th:src="'data:image/png,image/jpeg;base64,'+${image}" alt="">-->
	    </div>
	<div>
		
	</div>
    </p>
    
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	
	
	
</body>
</html>
