<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	
<title>Rooms</title>

<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
	
</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
				<a class="navbar-brand" href="#" th:href="@{/rooms}">Rooms</a>
				<a class="navbar-brand" href="#" th:href="@{/newroom}">New Room</a>
				<a class="navbar-brand" href="#" th:href="@{/items}">Items</a>
				<a class="navbar-brand" href="#" th:href="@{/newitem}">New Item</a>
				<a class="navbar-brand" href="#" th:href="@{/dashboard}">Dashboard</a>
				<a class="navbar-brand" href="#" th:href="@{/settings}">Settings</a>
				<a class="navbar-brand" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<h1>My Rooms </h1>
	<p>
			Rooms of <span sec:authentication="principal.username">User</span>
	</p>
	<table>
    <thead>
        <tr>
            <th> Rooms: </th>\
        </tr>
    </thead>
    <tbody>
	<tr th:if="${rooms.empty}">
            <td> No Rooms Available </td>
        </tr>
        <tr th:each="room : ${rooms}">
<!--			<td><span th:text="${room.name}"> Name </span></td>-->
<!--			<td><img src="room.image" alt="" border="3" height="100" width="100" /> Image </span></td>-->
<!--			<td><span th:text="${room.details}"> Details </span></td>-->
			<td>
				<a href="#" th:href="@{/rooms/{id}(id = ${room.id})}">
					<div class="gallery">
						<div class="desc"><span th:text="${room.name}"> Room Name </span></div>
<!--						<img class="img-thumbnail" th:src="'data:image/jpeg,image/png;base64,' + ${ImageHandler.getImgData(room.getImage())}" "alt=" " width="150" height="150">-->
						
						<div class="desc"><span th:text="${room.details}"> Details </span></div>
					</div>
				</a>
			</td>
			<td>
				<a th:href="@{/rooms/deleteRoom/{id}(id = ${room.id})}" class="btn btn-danger" > Delete Room</a>
			</td>
        </tr>
    </tbody>
</table>
	
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	
</body>
	<script type="text/javascript">
		$('.btn-danger').on('click', function () {
        	return confirm("Are you sure? All items in this room will be deleted.");
    	});
	</script>
</html>
